Source: cothread
Section: python
Priority: optional
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7),
               python-setuptools,
               python-codespeak-lib (< 1.0) | python-greenlet,
               python-all-dev, python-all-dbg, python-central (>= 0.6),
               python-numpy, libepics3.14.10
XS-Python-Version: >= 2.4
Standards-Version: 3.8.0
Homepage: http://controls.diamond.ac.uk/downloads/python/cothread/

Package: python-cothread
Architecture: all
Depends: ${shlibs:Depends}, ${python:Depends},
         python-setuptools, python-numpy,
         python-codespeak-lib (< 1.0) | python-greenlet,
         libepics3.14.10
Conflicts: python-cothread-doc (<< 1.15)
XB-Python-Version: ${python:Versions}
Suggests: python-cothread-doc
Description: A co-routine implimentation w/ EPICS CA
 An implimentation of co-routines in Python with
 a ctypes wrapper for the EPICS libca client library
