Source: cothread
Section: python
Priority: optional
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7),
               python-setuptools,
               python-all-dev, python-all-dbg, dh-python,
               python-numpy,
               python-sphinx,
               libepics3.14.11 | libepics3.14.12 | libepics3.14.12.3 | libepics3.15.3 | libepics3.15.6 | libepics3.16.1,
XS-Python-Version: >= 2.7
Standards-Version: 3.8.0
Homepage: http://controls.diamond.ac.uk/downloads/python/cothread/

Package: python-cothread
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends},
         python-setuptools, python-numpy,
         libepics3.14.11 | libepics3.14.12 | libepics3.14.12.3 | libepics3.15.3 | libepics3.15.6 | libepics3.16.1,
Conflicts: python-cothread-doc (<< 1.15)
XB-Python-Version: ${python:Versions}
Suggests: python-cothread-doc
Description: A co-routine implimentation w/ EPICS CA
 An implimentation of co-routines in Python with
 a ctypes wrapper for the EPICS libca client library
