#!/usr/bin/make -f

export DH_VERBOSE=1

export PYBUILD_NAME=cothread

%:
	dh $@ --with python2,python3,sphinxdoc --buildsystem=pybuild


override_dh_auto_test:
        # Test named 'test_longout' is fails

override_dh_auto_build:
	dh_auto_build
	sphinx-build docs docs/html

override_dh_auto_clean:
	rm -rf docs/html
	dh_auto_clean
