#!/usr/bin/make -f

#export DH_VERBOSE=1

PYVERS=$(shell pyversions -vr debian/control)

build: build-stamp
build-stamp:
	dh build --before auto_configure

	for vv in $(PYVERS); do \
		python$$vv setup.py build --build-base="$(CURDIR)/build" \
	|| exit 1; done

	cd docs && env PYTHONPATH=$(CURDIR) ./makedocs.py

	dh build --after auto_test

	touch $@

clean:
	rm -rf docs/pydoc
	rm -rf cothread.egg-info
	dh clean

install: build install-stamp
install-stamp:
	dh install --with python_central --before auto_install

	for vv in $(PYVERS); do \
		python$$vv setup.py install --root=$(CURDIR)/debian/tmp --prefix=/usr --no-compile -O0 \
	|| exit 1;done

	install -d debian/tmp/usr/share/doc/python-cothread/html

	cp docs/*.txt debian/tmp/usr/share/doc/python-cothread/

	cp docs/pydoc/*.html debian/tmp/usr/share/doc/python-cothread/html/

	cp -r examples debian/tmp/usr/share/doc/python-cothread/

	dh install --with python_central --after auto_install

	touch install-stamp

binary-arch: #install
#	dh binary-arch

binary-indep: install
	dh binary-indep

binary: binary-arch binary-indep
